{
  "compact": false,
  "presets": [
    "react-native"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["module-resolver", {
      "root": ["./modules"],
      "alias": {
        "app": "./modules"
      }
    }
  ]]
}
